.snakemake/

config/*

!.gitignore

/resources/*
!/resources/MAJIQ_conf/
!/resources/fastq/

/results/*
!/results/alignment/
!/results/trim_galore/
!/results/MAJIQ/
resources/MAJIQ_conf/settings.ini
!/results/Voila/
